:root {
    --clr-primary-blue: #0065FC;
    --clr-secondary-lightblue: #DEEBFF;
    --clr-background-grey: #F2F2F2;

    --ff-main: "Raleway", sans-serif;
    --fz-main: 16px;
    --fz-title: 21px;
}

body {
    overflow-x: hidden;
    font-family: var(--ff-main);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 30px 50px;
}

p, a {
    font-size: var(--fz-main);
}

h1 {
    font-size: var(--fz-title);
    font-weight: 700;
}

h2 {
    font-size: var(--fz-main);
}

a {
    outline: none;
}



/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 115px;
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 46px 40px;
}

nav ul li a:hover, nav ul li a:focus {
    border-top: solid 5px #0065FC;
    color: #0065FC;
}



/* SEARCH BAR*/
#searchContainer {
    margin-top: 40px;
}

#searchContainer form {
    margin: 25px 0;
}

.fa-magnifying-glass {
    display: none !important;
}

form {
    display: flex;
    align-items: center;
}

#search {
    padding: 15px 15px;
    margin: 0;
    border: solid 1px var(--clr-background-grey);
}

#search::placeholder {
    color: black;
    opacity: 1;
    font-weight: 700;
}

.fa-location-dot {
    background-color: var(--clr-background-grey);
    padding: 18px;
    border-radius: 15px 0 0 15px;

}

button {
    background-color: var(--clr-primary-blue);
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 16px;
    cursor: pointer;
}

button .rechercher {
    color: white;
    font-weight: 600;
}



/* FILTERS */
#filtersContainer {
    display: flex;
    align-items: center;
}

#filtersContent {
    display: flex;
}

#filtersContainer > h2:first-child {
    margin: 0 10px 0 10px;
}

.filter {
    display: flex;
    align-items: center;
    margin: 0 15px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 0px 2px #e7e5e5 inset;
    transition: 0.2s;
}

.filter:hover {
    background-color: var(--clr-primary-blue);
    cursor: pointer;
    box-shadow: none;
}

.filter:hover h2 {
    color: white;
}

.filter:hover .iconContainer {
    box-shadow: 0px 0px 0px 2px var(--clr-primary-blue);
}

.iconContainer {
    background-color: var(--clr-secondary-lightblue);
    width: 50px;
    border-radius: 50%;
    text-align: center;
    transition: 0.2s;
}

.filter .fa-solid {
    padding: 16px;
    color: var(--clr-primary-blue);
}

.filter h2 {
    padding: 8px 20px 8px 10px;
}



#searchInfo {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: solid 2px #e7e5e5;
    margin: 0 15px 0 10px;
}

.fa-info {
    font-size: 13px;
    color: var(--clr-primary-blue);
}


/* ACCOMMODATION */
#accommodationContainer {
    display: flex;
    justify-content: space-between;
}

#accommodationContainer h2 {
    font-size: 15px;
}

#accommodationContainer p {
    font-size: 13px;
}

#suggestionContainer {
    width: 70%;
    padding: 30px 40px;
    background-color: var(--clr-background-grey);
    border-radius: 15px;
}

#suggestionContainer h1 {
    margin: 0;
}

#suggestionTileContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 30px 0;
}

.suggestionTile {
    width: 240px;
    background-color: white;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    box-shadow: 0 2px 10px 1px #dfdede;
}


.suggestionTile img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 17px 17px 0 0;
}

.tileInfo {
    padding: 0 10px;
    line-height: 25px;
}

.tileInfo h2 {
    margin: 0;
}

.tileInfo .stars {
    font-size: 12px;
    letter-spacing: -1px;
}

.tileInfo .fa-star {
    color: var(--clr-primary-blue);
}

.greyStar {
    color: #dfdede !important;
}


#popularContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: auto;
    padding: 30px 30px;
    background-color: var(--clr-background-grey);
    border-radius: 15px;
    margin-left: 40px;
}

#popularContainer>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 15px 0;

}

#popularContainer h1 {
    margin: 0;
}

#popularContainer h2 {
    line-height: 20px;
}

.popularTile {
    display: flex;
    width: 100%;
    height: 130px;
    background-color: white;
    padding: 5px;
    margin: 10px 0 10px 0;
    border-radius: 20px;
    box-shadow: 0 2px 10px 1px #dfdede;
}


.popularTile img {
    width: 115px;
    height: auto;
    object-fit: cover;
    border-radius: 17px 0 0 17px;
}

.popularTile .tileInfo {
    padding: 10px 20px 0 20px;
}

.popularTile .tileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}











/* MEDIA QUERIES */
@media (max-width:1292px) {
    #accommodationContainer {
        flex-wrap: wrap-reverse;
    }

    #suggestionContainer {
        width: 100%;
        background-color: white;
    }

    #suggestionTileContainer{
        justify-content: space-between;
    }

    .suggestionTile{
        margin: 10px;
    }

    #suggestionTileContainer a{
        width: 30%;
    }

    #popularContainer {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    #popularContainer>div:nth-child(2) {
        display: flex;
        justify-content: space-between;
    }

    #popularContainer>div:nth-child(2) a{
        width: 100%;
        min-width: 260px;
    }

    .popularTile{
        height: 150px;
    }

    .popularTile .tileInfo{
        padding: 10px 10px 0 10px;
    }

    #popularContainer > div:nth-child(2) > a:nth-child(2){
        margin: 0 20px;
    }
}


@media (max-width: 992px) {
    #filtersContainer {
        flex-wrap: wrap;
    }

    #filtersContent {
        flex-wrap: wrap;
    }

    .filter {
        margin-top: 10px;
    }


    /* ACCOMMODATION */
    #popularContainer{
        margin: 0;
        padding: 20px;
    }
    
    #popularContainer>div:nth-child(2) {
        flex-wrap: wrap;
    }

    #popularContainer > div:nth-child(2) > a:nth-child(2){
        margin: 0;
    }


    /* #suggestionTileContainer{
        flex-direction: column;
    } */
/* 
    #suggestionTileContainer a{
        width: 50%;
        background-color: red;
    } */


}


@media (max-width: 768px) {
    main {
        margin: 0;
    }

    /* HEADER */
    header {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    header img {
        width: 100px;
    }

    nav {
        width: 100%;
        margin-top: 20px;
    }

    nav ul {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        width: 50%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        font-size: 18px;
        padding: 15px 0 20px 0;
        box-shadow: 0 0, 0 -3px var(--clr-background-grey) inset, 0 0;

    }

    nav ul li a:hover, nav ul li a:focus {
        border-top: none;
    }

    nav ul li a:focus, nav ul li a:hover {
        font-weight: 400;
        box-shadow: 0 0, 0 -3px var(--clr-primary-blue) inset, 0 0;
    }


    /* SEARCH */
    #searchContainer {
        margin: 35px 20px;
    }

    #search {
        border: none;
    }

    form {
        border: solid 1px var(--clr-background-grey);
        border-radius: 15px;
        max-width: 328px;
    }

    button {
        border-radius: 15px;
        padding: 17px;
    }

    .fa-magnifying-glass {
        display: block !important;
        color: white;
    }

    .rechercher {
        display: none;
    }


    /* FILTERS */
    #filtersContainer {
        margin: 35px 0px;
    }

    #filtersContainer > h2:first-child {
        margin: 10px 0;
    }

    .filter {
        margin: 7px 5px 7px 0;
    }

    #searchInfo {
        align-items: flex-start;
    }

    #searchInfo p {
        word-wrap: break-word;
        padding: 5px 0;
    }

    .infoContainer {
        margin-left: 0;
    }


    /* ACCOMMODATION */
    #popularContainer{
        border-radius: 0;
    }

    #suggestionContainer{
        background-color: white;
        padding: 0;
        margin: 20px;
    }

    #suggestionTileContainer{
        flex-direction: column;
    }

    
    #suggestionTileContainer a{
        width: 100%;
    }

    .suggestionTile{
        width: 100%;
        margin: 10px 0;
    }

}